{% extends "base.html" %}

{% block titulo %}
Cadastro de Técnico
{% endblock %}

{% block css %}
<link rel="stylesheet"href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block conteudo %}

<h1>Cadastro de Técnico</h1>

<form action="{{ url_for('cadastro_tecnico') }}" method="POST">

    <div> 
        <label for="nome">Nome</label>
        <input type="text" name="nome" maxlength="200" required>
    </div>

    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" maxlength="50" required>
    </div>

    <div>
        <label for="departamento"> Departamento</label>
        <input type="text" name="departamento" maxlength="200" required>
    </div>

    <div>
        <label for="ramal">Ramal</label>
        <input type="number" name="ramal" maxlength="15">
    </div>

    <div>
        <label for="status">Status</label>
        <select
        id="status"
        name="status"
        required
    >
        <option value="">
            Selecione o status
        </option>

        <option value="Ativo">
            Ativo
        </option>

        <option value="Inativo">
            Inativo
        </option>
        </select>    
    </div>

    <button type="submit"> Cadastrar Técnico </button>   
</form>
    
{% endblock %}