<html>
    <head>
        <link rel="stylesheet" href="static/css/menu.css">
    </head>
<body>
    <div class="logo">
        <i class="fa-solid fa-headset"></i>
        <span>Help Desk</span>
    </div>

    <nav>
        <a href="/listachamado"> Meus Chamados</a>
        <a href="/home"> Dashboard</a>
       
        <a href="#"><i class="fa-solid fa-gear"></i> Configurações</a>
        <a href="#" class="btn-sair">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
        </a>
    </nav>
</body>
</html>